$main-color: rgb(105,140,200);
$separator-color: rgb(105,140,200);
$img-filter: rgba(53, 98, 169, 0.7);
$dark: #232222;
$grey: #5C5C5C;
$font: rgb(249, 252, 255);
$purple_invis: rgb(176, 194, 223, 0.9);
$background: rgb(207, 218, 238,0.3);
$box_shadow: rgb(207, 218, 238,0.7);
$block_bg: rgb(255, 255, 255);
$purple: rgb(176, 194, 223);
$orange: #FF9E35;
$orange_invis: rgb(255, 158, 53, .9);
$overlay-color: #fff;
$link-text-color: #fff;
$border-radius: 6px;